* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

body {
    background-color: #ffe4c4;
}

header {
    margin: 2em 5em;
}

nav {
    padding: 1em;
    background-color: #0000ff;
    border: 0.5em solid #ff0000;
    border-radius: 1em;

}

a {
    font-size: 2em;
    padding: 1em;
    text-decoration: none;
    color: #ff0000;
    transition: 0.5s;
}

a:hover {
    font-size: 2.4em;
    color: #660000;
}